@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loading {
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  place-content: center;
  background-color: #1E213A;
}

.loading .react-logo {
  height: 35vh;
  pointer-events: none;
  -webkit-animation: App-logo-spin infinite 10s linear;
          animation: App-logo-spin infinite 10s linear;
}

.loading h2 {
  font-size: 2.2rem;
  text-align: center;
  color: #A09FB1;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Raleway', sans-serif;
  height: 100%;
}

@media (min-width: 980px) {
  #root {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100vh;
  }
}

#root .main--search {
  background: #1E213A;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 2;
  width: 100%;
  padding: 82px 46px;
}

@media (min-width: 980px) {
  #root .main--search {
    left: -30%;
    width: 30%;
  }
}

#root .main--search.open-search {
  left: 0;
}

#root .main--search .close {
  position: absolute;
  top: 5px;
  right: 46px;
  background: transparent;
  font-size: 32px;
  font-weight: bolder;
  border: none;
  color: #A09FB1;
}

#root .main--search .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  font-size: 16px;
  color: #A09FB1;
}

#root .main--search .search-box .search-icon {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: 3;
  top: 15px;
  bottom: 15px;
  left: 10px;
}

#root .main--search .search-box input {
  padding: 10px 25px;
  background: transparent;
  color: #A09FB1;
  border: 1px solid #A09FB1;
  width: 65%;
}

#root .main--search .search-box button {
  color: #E7E7EB;
  background: #3C47E9;
  padding: 11px 10px;
  border: none;
  width: 30%;
}

.main {
  width: 100%;
  background-color: #04050e;
  height: 100vh;
  padding: 26px;
  text-align: center;
  position: relative;
  background: #1E213A;
}

@media (min-width: 980px) {
  .main {
    height: 100%;
    width: 30%;
    padding: 46px;
  }
}

.main .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .search button {
  padding: 10px 20px;
  color: #E7E7EB;
  background: #6E707A;
  border: none;
  -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}

.main .search button:active {
  -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.6);
}

.main .search button:nth-child(2) {
  font-size: 20px;
}

.main .condition-img {
  width: 100%;
  height: 30%;
  margin-top: 20px;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.main .condition-img img {
  height: 100%;
}

.main .temperature {
  font-size: 114px;
  color: #E7E7EB;
  margin: 40px 0;
}

.main .temperature span {
  font-size: 48px;
}

.main .condition {
  font-size: 30px;
  color: #A09FB1;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.main .date,
.main .location {
  font-size: 18px;
  color: #A09FB1;
  margin-top: 25px;
  text-transform: capitalize;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  0% {
    -webkit-transform: translateY(-5px) scale(1.1);
            transform: translateY(-5px) scale(1.1);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  0% {
    -webkit-transform: translateY(-5px) scale(1.1);
            transform: translateY(-5px) scale(1.1);
  }
}

.highlights {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background: #100E1D;
  padding: 26px 46px;
}

@media (min-width: 980px) {
  .highlights {
    width: 70%;
    padding: 46px 92px;
    height: 100%;
  }
}

.highlights .units {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.highlights .units span {
  font-size: 18px;
  background: #585676;
  color: #E7E7EB;
  margin-left: 10px;
  padding: 10px;
  border-radius: 50%;
}

.highlights .units span:first-child {
  color: #110E3C;
  background: #E7E7EB;
}

.highlights .next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 46px;
  text-align: center;
}

@media (min-width: 980px) {
  .highlights .next {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.highlights .next .next__weather {
  background: #1E213A;
  padding: 22px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #E7E7EB;
  margin: 23px 10px;
}

.highlights .next .next__weather .next-date {
  color: #E7E7EB;
}

.highlights .next .next__weather img {
  width: 60px;
  height: 60px;
}

.highlights h3 {
  color: #E7E7EB;
  margin-top: 46px;
  text-align: center;
}

@media (min-width: 980px) {
  .highlights h3 {
    text-align: left;
  }
}

.highlights .weather-highlights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.highlights .weather-highlights .weather-highlight {
  margin-top: 23px;
  padding: 23px;
  background: #1E213A;
  color: #E7E7EB;
  width: 100%;
  text-align: center;
}

@media (min-width: 980px) {
  .highlights .weather-highlights .weather-highlight {
    width: 45%;
  }
}

.highlights .weather-highlights .weather-highlight h5 {
  font-size: 16px;
}

.highlights .weather-highlights .weather-highlight .value {
  font-size: 64px;
}

.highlights .weather-highlights .weather-highlight .value span {
  font-size: 36px;
}

.highlights .weather-highlights .weather-highlight .indicator {
  font-size: 12px;
  border-radius: 50%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: lightgray;
  background-color: darkgrey;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}
/*# sourceMappingURL=index.css.map */