@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Raleway', sans-serif;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

@media (min-width: 768px) {
  #root {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100vh;
  }
}

#root .main--search {
  background: #1E213A;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 2;
  width: 100%;
  padding: 82px 46px;
}

@media (min-width: 768px) {
  #root .main--search {
    left: -30%;
    width: 30%;
  }
}

#root .main--search.open-search {
  left: 0;
}

#root .main--search .close {
  position: absolute;
  top: 5px;
  right: 46px;
  background: transparent;
  font-size: 20px;
  font-weight: bolder;
  border: none;
  color: #A09FB1;
}

#root .main--search .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  font-size: 16px;
  color: #A09FB1;
}

#root .main--search .search-box .search-icon {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: 3;
  top: 15px;
  bottom: 15px;
  left: 10px;
}

#root .main--search .search-box input {
  padding: 10px 25px;
  background: transparent;
  color: #A09FB1;
  border: 1px solid #A09FB1;
  width: 65%;
}

#root .main--search .search-box button {
  color: #E7E7EB;
  background: #3C47E9;
  padding: 11px 10px;
  border: none;
  width: 30%;
}

.main {
  width: 100%;
  background-color: #1E213A;
  height: 100%;
  padding: 46px;
  text-align: center;
}

@media (min-width: 768px) {
  .main {
    width: 30%;
  }
}

.main .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .search button {
  padding: 15px 20px;
  color: #E7E7EB;
  background: #6E707A;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.main .condition-img {
  width: 100%;
  height: 30%;
  background-image: url("../images/Cloud-background.png");
  background-position: center;
  background-size: cover;
}

.main .condition-img img {
  height: 100%;
}

.main .temperature {
  font-size: 114px;
  color: #E7E7EB;
  margin: 40px 0;
}

.main .temperature span {
  font-size: 48px;
}

.main .condition {
  font-size: 30px;
  color: #A09FB1;
  margin-bottom: 40px;
}

.main .date,
.main .location {
  font-size: 18px;
  color: #A09FB1;
  margin-top: 25px;
}

.highlights {
  width: 100%;
  background: #100E1D;
  padding: 46px 92px;
}

@media (min-width: 768px) {
  .highlights {
    width: 70%;
  }
}

.highlights .units {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.highlights .units span {
  font-size: 18px;
  background: #585676;
  color: #E7E7EB;
  margin-left: 10px;
  padding: 10px;
  border-radius: 50%;
}

.highlights .units span:first-child {
  color: #110E3C;
  background: #E7E7EB;
}

.highlights .next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 46px;
  text-align: center;
}

.highlights .next .next__weather {
  background: #1E213A;
  padding: 22px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #E7E7EB;
}

.highlights .next .next__weather .next-date {
  color: #E7E7EB;
}

.highlights .next .next__weather img {
  width: 60px;
  height: 60px;
}

.highlights h3 {
  color: #E7E7EB;
  margin-top: 46px;
}

.highlights .weather-highlights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.highlights .weather-highlights .weather-highlight {
  margin-top: 23px;
  padding: 23px;
  background: #1E213A;
  color: #E7E7EB;
  width: 100%;
}

@media (min-width: 768px) {
  .highlights .weather-highlights .weather-highlight {
    width: 45%;
  }
}
/*# sourceMappingURL=index.css.map */