@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@mixin large {
    @media (min-width: 980px) {
        @content;
    }
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: max-content;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.loading {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
    background-color: #1E213A;

    .react-logo {
        height: 40vh;
        pointer-events: none;
        animation: App-logo-spin infinite 10s linear;
    }

    h2 {
        font-size: 2.2rem;
        text-align: center;
        color: #A09FB1;
    }
}

#root {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    height: 100%;

    @include large {
        flex-direction: row;
        height: 100vh;

    }


    // main search
    .main--search {


        background: #1E213A;
        height: 100vh;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -100%;
        transition: all 1s ease;
        z-index: 2;
        width: 100%;
        padding: 82px 46px;

        @include large {
            left: -30%;
            width: 30%;
        }

        &.open-search {
            left: 0;
        }

        .close {
            position: absolute;
            top: 5px;
            right: 46px;
            background: transparent;
            font-size: 32px;
            font-weight: bolder;
            border: none;
            color: #A09FB1;
        }

        .search-box {
            display: flex;
            justify-content: space-between;
            position: relative;
            font-size: 16px;
            color: #A09FB1;

            .search-icon {
                position: absolute;
                width: 10px;
                height: 10px;
                z-index: 3;
                top: 15px;
                bottom: 15px;
                left: 10px;
            }

            input {
                padding: 10px 25px;
                background: transparent;
                color: #A09FB1;
                border: 1px solid #A09FB1;
                width: 65%;
            }

            button {
                color: #E7E7EB;
                background: #3C47E9;
                padding: 11px 10px;
                border: none;
                width: 30%;

            }
        }
    }
}



// main

.main {
    width: 100%;
    background-color: #04050e;
    height: 100vh;
    padding: 26px;
    text-align: center;
    position: relative;
    background: #1E213A;


    @include large {
        height: 100%;
        width: 30%;
        padding: 46px;
    }

    .search {
        display: flex;
        justify-content: space-between;

        button {
            padding: 10px 20px;
            color: #E7E7EB;
            background: #6E707A;
            border: none;
            box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
            font-size: 16px;

            &:active {
                box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.6);
            }

            &:nth-child(2) {
                font-size: 20px;
            }
        }
    }

    .condition-img {
        width: 100%;
        height: 30%;
        margin-top: 20px;

        img {
            height: 100%;
        }

        animation-name: move;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }


    .temperature {
        font-size: 114px;
        color: #E7E7EB;
        margin: 40px 0;

        span {
            font-size: 48px
        }
    }

    .condition {
        font-size: 30px;
        color: #A09FB1;
        margin-bottom: 40px;
        text-transform: capitalize;
    }

    .date,
    .location {
        font-size: 18px;
        color: #A09FB1;
        margin-top: 25px;
        text-transform: capitalize;

    }


}

@keyframes move {
    0% {
        transform: translateY(0);
    }

    0% {
        transform: translateY(-5px) scale(1.1);
    }
}

// highlights
.highlights {
    width: 100%;
    height: max-content;
    background: #100E1D;
    padding: 26px 46px;

    @include large {
        width: 70%;
        padding: 46px 92px;
        height: 100%;
    }


    .units {
        height: max-content;
        display: flex;
        justify-content: flex-end;

        span {
            font-size: 18px;
            background: #585676;
            color: #E7E7EB;
            margin-left: 10px;
            padding: 10px;
            border-radius: 50%;

            &:first-child {
                color: #110E3C;
                background: #E7E7EB;
            }
        }

    }

    .next {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 46px;
        text-align: center;

        @include large {
            justify-content: space-between;
        }

        .next__weather {
            background: #1E213A;
            padding: 22px;
            width: max-content;
            color: #E7E7EB;
            margin: 23px 10px;

            .next-date {
                color: #E7E7EB;
            }

            img {
                width: 60px;
                height: 60px;
            }

            // .next-temperature {

            // }
        }


    }


    h3 {
        color: #E7E7EB;
        margin-top: 46px;
        text-align: center;

        @include large {
            text-align: left;
        }
    }

    .weather-highlights {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;


        .weather-highlight {
            margin-top: 23px;
            padding: 23px;
            background: #1E213A;
            color: #E7E7EB;
            width: 100%;
            text-align: center;

            @include large {
                width: 45%;
            }

            h5 {
                font-size: 16px;
            }

            .value {
                font-size: 64px;

                span {
                    font-size: 36px;
                }
            }

            .indicator {
                // height: 30px;
                // width: 30px;
                font-size: 12px;
                border-radius: 50%;
                padding: 10px;
                display: flex;
                align-self: center;
                justify-content: center;
                color: lightgray;
                background-color: darkgrey;
                width: max-content;
                margin: 0 auto;
            }

        }
    }

}